<div class="company-tab-main-container">

    <section class="about-us" style="position: relative;">
        <div class="background-overlay"></div>
        <div class="about-us-heading">
            <div class="inner-heading-content">
                <div class="line">Who</div>
                <div class="line">We</div>
                <div class="line">Are</div>
            </div>
        </div>
        <div class="inner-container">
            <div class="about-us-detail">
                <div class="about-us-detail-inner">
                    <div>
                        <span class="firs-word">Jun </span>Automotive is an established company in the Development and Manufacturer for Automotive Seating & Interior Components.
                    </div>
                    <div>
                        <span class="firs-word">Cutting, </span>Sewing and Assembly for Automotive components parts Supply to various Automotive OEM applications.
                    </div>
                    <div>
                        <span class="firs-word">Jun </span> modern and systematic manufacturing and management approaches.
                    </div>
                    <div>
                        <span class="firs-word">Uses </span>We occupy an area of Land 37000 Sq. ft. and our manufacturing factory is fully equipped with technical equipment and machines.
                    </div>
                    <div>
                        <span class="firs-word">Jun </span>Automotive has been accredited ISO 9001: 2015 and IATF 16949:2016 certification done on Mar-2021 through TUV (SUD) and certified on 15.08.2020 and OHSAS 18001 is on progress.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="aim-container">
        <div class="aim-inner-container">
            <div class="aim-header" >
                <div class="aim-heading">
                    Leading With Aim
                </div>
                <div class="aim-heading-description">
                    Our leaders bring unprecedented experience as they guide the company toward the future 
                    of mobility with an unwavering commitment to profitable growth, maintaining a strong culture and delivering 
                    value for our shareholders.
                </div>
            </div>
            
            <div class="board-members-container">
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Parthiban
                        </div>
                        <div class="person-position">
                            (Managing Director)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Hen
                        </div>
                        <div class="person-position">
                            (Director / Marketing)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Sambath
                        </div>
                        <div class="person-position">
                            (Plant Operations)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Premkumar
                        </div>
                        <div class="person-position">
                            (CA - Auditor)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Suthakumar
                        </div>
                        <div class="person-position">
                            (Finance & Accounts)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Senthil
                        </div>
                        <div class="person-position">
                            (Production)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Ruban
                        </div>
                        <div class="person-position">
                            (Quality)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Suresh
                        </div>
                        <div class="person-position">
                            (Logistics)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Vignesh
                        </div>
                        <div class="person-position">
                            (Stores)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Venkatesh
                        </div>
                        <div class="person-position">
                            (HRM)
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <section class="cpcs-container" >
        <div class="cpcs-inner-container">
            <div class="section-nav-container">
                <div class="nav-btn" [ngClass]="{activeNav: selectedMenu=='Clients'}" (click)="choosedNav('Clients')" >Clients</div>
                <div class="nav-btn" [ngClass]="{activeNav: selectedMenu=='Products'}" (click)="choosedNav('Products')">Products</div>
                <div class="nav-btn" [ngClass]="{activeNav: selectedMenu=='Certification'}" (click)="choosedNav('Certification')" >Certification</div>
                <div class="nav-btn" [ngClass]="{activeNav: selectedMenu=='Strengths'}" (click)="choosedNav('Strengths')" >Strengths</div>
            </div>

            <div class="content-container">

                <!-- ------ client section ----- -->

                <div class="clients-container nav-content-container" [ngClass]="{show: selectedMenu=='Clients'}" >
                    <div class="client-inner-container">
                        <div class="client-title">
                            Meeting diverse client needs.
                        </div>
                        <div class="client-description">
                            We excel by meeting diverse needs through personalized, tailored solutions.
                        </div>
                        <div class="client-body">
                            <div class="client-card">
                                <div class="client-card-heading">
                                    <div class="client-logo">
                                        <img src="../../assets/images/hyundai.png" alt="hyundai" srcset="">
                                    </div>
                                    <div class="client-name">
                                        HYUNDAI
                                    </div>
                                </div>
                                <div class="client-card-body">
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/verna.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Verna
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/venue.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Venue
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/creta.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Creata
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/alcasar.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Alcazar
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/i10.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            i10
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/i20.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            i20
                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="quote-symbol"><mat-icon> format_quote</mat-icon></div>
                            </div>
                            <div class="client-card">
                                <div class="client-card-heading">
                                    <div class="client-logo">
                                        <img src="../../assets/images/kia.png" alt="hyundai" srcset="">
                                    </div>
                                    <div class="client-name">
                                        KIA
                                    </div>
                                </div>
                                <div class="client-card-body">
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/seltos.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Seltos
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/sonet.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Sonet
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/carens.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Carens
                                        </div>
                                    </div>
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/carnival.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            Carnival
                                        </div>
                                    </div>
                                </div>
                                <div class="quote-symbol"><mat-icon> format_quote</mat-icon></div>
                            </div>
                            <div class="client-card">
                                <div class="client-card-heading">
                                    <div class="client-logo" style="width: 30px;">
                                        <img src="../../assets/images/isuzu.png" alt="hyundai" srcset="">
                                    </div>
                                    <div class="client-name">
                                        ISUZU
                                    </div>
                                </div>
                                <div class="client-card-body" style="justify-content: start;margin-left: 20px;">
                                    <div class="image-card-container">
                                        <div class="image-card">
                                            <img src="../../assets/images/d-max.jpeg" alt="hyndai" srcset="">
                                        </div>
                                        <div class="client-sub-title">
                                            D-Max
                                        </div>
                                    </div>
                                </div>
                                <div class="quote-symbol"><mat-icon> format_quote</mat-icon></div>
                            </div>

                           
                        </div>
                    </div>
                </div>

                <!-- ------ client section ----- -->




                <!-- products section -->
                <div class="products-container nav-content-container" [ngClass]="{show: selectedMenu=='Products'}">
                    <div class="our-products-inner-section">
                        <div class="carosal-container">
                            <div class="prev-icon"><mat-icon class="nav-before" >navigate_before</mat-icon><mat-icon class="nav-before" style="margin-left: -33px;">navigate_before</mat-icon></div>
                            <div class="main-image">
                                <img src="../../assets/images/verna.jpeg" alt="">
                            </div>
                            <div class="next-icon"><mat-icon class="nav-next" >navigate_next</mat-icon><mat-icon class="nav-next" style="margin-left: -33px;">navigate_next</mat-icon></div>
                        </div>
                        <div class="products-card-container">
                            <div class="products-card">
                                <div class="products-image">
                                    <img src="../../assets/images/alcasar.jpeg" alt="" srcset="">
                                </div>
                                <div class="prducts-name">Seat cover</div>
                            </div>
                            <div class="products-card">
                                <div class="products-image">
                                    <img src="../../assets/images/alcasar.jpeg" alt="" srcset="">
                                </div>
                                <div class="prducts-name">Seat cover</div>
                            </div>
                            <div class="products-card">
                                <div class="products-image">
                                    <img src="../../assets/images/alcasar.jpeg" alt="" srcset="">
                                </div>
                                <div class="prducts-name">Seat cover</div>
                            </div>
                            <div class="products-card">
                                <div class="products-image">
                                    <img src="../../assets/images/alcasar.jpeg" alt="" srcset="">
                                </div>
                                <div class="prducts-name">Seat cover</div>
                            </div>
                            <div class="products-card">
                                <div class="products-image">
                                    <img src="../../assets/images/alcasar.jpeg" alt="" srcset="">
                                </div>
                                <div class="prducts-name">Seat cover</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- products section -->

                <!-- certification section -->

                <div class="certification-container nav-content-container" [ngClass]="{show: selectedMenu=='Certification'}">
                    <div class="certification-inner-section" style="padding: 40px 20px;" >
                        <div class="certificate-container" >

                            <div class="certification">
                                <div class="swing">
                                    <img  src="../../assets/images/iso.jpeg" >
                                </div> 
                            </div>

                            <div class="certification">
                                <div class="swing">
                                    <img  src="../../assets/images/tuv-certificate.jpeg" >
                                </div> 
                            </div>

                        </div>
                    </div>
                </div>

                <!-- certification section -->



                <div class="strengths-container nav-content-container" [ngClass]="{show: selectedMenu=='Strengths'}">
                    
                    <div class="strengths-inner-sction">
                        <div class="strength-img-container">
                            <div class="strength-img"> <img src="../../assets/images/office-strength.jpeg" alt="" srcset=""> </div>
                        </div>
                        <div class="strength-content-container">
                            <div class="workforce-container">
                                <div class="number-sec">15 </div>
                                <div class="detail-sec">Total staffs and customer support</div>
                            </div>
                            <div class="workforce-container">
                                <div class="number-sec">120 </div>
                                <div class="detail-sec">Total Workforce</div>
                            </div>
                            <div class="workforce-container">
                                <div class="number-sec">100 </div>
                                <div class="detail-sec">Facilities with</div>
                            </div>
                            <div class="workforce-container">
                                <div class="number-sec">3 </div>
                                <div class="detail-sec">Clients</div>
                            </div>
                        </div>
                    </div>

                </div>
                

            </div>
        </div>
    </section>

</div>
