<div class="company-tab-main-container">

    <section class="about-us" style="position: relative;">
        <div class="background-overlay"></div>
        <div class="about-us-heading">
            <div class="inner-heading-content">
                <div class="line">Who</div>
                <div class="line">We</div>
                <div class="line">Are</div>
            </div>
        </div>
        <div class="inner-container">
            <div class="about-us-detail">
                <div class="about-us-detail-inner">
                    <div>
                        <span class="firs-word">Jun </span>Automotive is an established company in the Development and Manufacturer for Automotive Seating & Interior Components.
                    </div>
                    <div>
                        <span class="firs-word">Cutting, </span>Sewing and Assembly for Automotive components parts Supply to various Automotive OEM applications.
                    </div>
                    <div>
                        <span class="firs-word">Jun </span> modern and systematic manufacturing and management approaches.
                    </div>
                    <div>
                        <span class="firs-word">Uses </span>We occupy an area of Land 37000 Sq. ft. and our manufacturing factory is fully equipped with technical equipment and machines.
                    </div>
                    <div>
                        <span class="firs-word">Jun </span>Automotive has been accredited ISO 9001: 2015 and IATF 16949:2016 certification done on Mar-2021 through TUV (SUD) and certified on 15.08.2020 and OHSAS 18001 is on progress.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="aim-container">
        <div class="aim-inner-container">
            <div class="aim-header" >
                <div class="aim-heading">
                    Leading With Aim
                </div>
                <div class="aim-heading-description">
                    Our leaders bring unprecedented experience as they guide the company toward the future 
                    of mobility with an unwavering commitment to profitable growth, maintaining a strong culture and delivering 
                    value for our shareholders.
                </div>
            </div>
            
            <div class="board-members-container">
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Parthiban
                        </div>
                        <div class="person-position">
                            (Managing Director)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Hen
                        </div>
                        <div class="person-position">
                            (Director / Marketing)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Sambath
                        </div>
                        <div class="person-position">
                            (Plant Operations)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Premkumar
                        </div>
                        <div class="person-position">
                            (CA - Auditor)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Suthakumar
                        </div>
                        <div class="person-position">
                            (Finance & Accounts)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Senthil
                        </div>
                        <div class="person-position">
                            (Production)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Ruban
                        </div>
                        <div class="person-position">
                            (Quality)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Suresh
                        </div>
                        <div class="person-position">
                            (Logistics)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Vignesh
                        </div>
                        <div class="person-position">
                            (Stores)
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-img">img
                        <div class="card-overlay"></div>
                    </div>
                    
                    <div class="card-detail-container">
                        <div class="person-name">
                            Mr. Venkatesh
                        </div>
                        <div class="person-position">
                            (HRM)
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <section class="cpcs-container" >
        <div class="cpcs-inner-container">
            <div class="section-nav-container">
                <div class="nav-btn" >Clients</div>
                <div class="nav-btn" >Products</div>
                <div class="nav-btn" >Certification</div>
                <div class="nav-btn" >Strengths</div>
            </div>
        </div>
    </section>

</div>
