.about-us{
    padding: 30px 30px;
    background-image: url('../../assets/images/junautocompany.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.about-us .inner-container{
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    z-index: 2;
    position: relative;
    color: #fff;
    justify-content: flex-end;
    line-height: 22px;
}
.about-us-detail{
    width: 55%;
}
.about-us-detail-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.firs-word{
    margin-left: 10px;
}
.about-us-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: absolute;
    background-color: rgba(44, 181, 191, 0.4);
    left: 0px;
    height: 200%;
    z-index: 2;
    top: -50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #fff;
    width: 36%;
    align-items: center;
    display: none;
}
.background-overlay{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.7;
}
.aim-inner-container{
    padding: 30px;
}
.aim-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aim-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 62%;
}
.aim-heading-description{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.aim-heading{
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
}
.board-members-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    max-width: 70%;
    flex-wrap: wrap;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
    padding: 5px;
}
.card-detail-container{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 3px;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid lightgrey;
    padding: 5px 0px;
    height: auto;
    overflow: hidden;
   
}
.card-img{
    background-color: grey;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.person-position{
    height: 0px;
    overflow: hidden;
}
.card-container:hover .person-position{
    background-color: #fff;
    animation-name: card-detail;
    animation-duration: 0.5s;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.aim-container{
    border-bottom: 1px solid #d0c5c5;
}

@keyframes card-detail {
    from {
        height: 0;
    }

    to {
        height: 25px;
    }
}

.card-container:hover .card-overlay{
    display: block;
}

.card-overlay{
    position: absolute;
    background-color: black;
    width: 96%;
    height: 94%;
    border-radius: 8px;
    padding: 0px;
    opacity: 0.4;
    display: none;
}
.cpcs-inner-container{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-nav-container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-btn{
    padding: 5px 20px;
    min-width: 60px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
.nav-btn:hover{ 
    box-shadow: 0 0 8px 2px rgba(44, 181, 191, 0.3);
}

@media screen and (max-width:1080px){
    .board-members-container{
        max-width: 95%;
    }
 }

 @media screen and (max-width:580px){
    .board-members-container{
        max-width: 100%;
        gap: 16px;
    }
    .aim-header{
        width: 100%;
    }
 }