<div class="header-container" >
    <div class="logo" (click)="navToHome()" >JUN AUTO</div>
    <div class="nav-container">
        <div class="nav" >
            <div class="nav-item" [ngClass]="{selected: selected=='home'}"  (click)="navto('Home')" >Home</div>
            <div class="nav-item" (click)="navto('Company')" [ngClass]="{selected: selected=='company'}"  >Company</div>
            <div class="nav-item" (click)="navto('Technology')" [ngClass]="{selected: selected=='technology'}" >Technology</div>
        </div>
        <div class="nav-mobile">
            <mat-icon>menu</mat-icon>
        </div>
    </div>
</div>
