img{
    width: 100%;
}
.inner-image{
    width: 200px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-content{
    overflow: scroll;
    height: 100%;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.pair{
    display: flex;
    gap: 10px;
    position: relative;
    margin: 0px 30px;
    padding: 35px 0px;
    justify-content: center;
}
.image-container{
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding: 10px;
    
}
.image-inner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
    background-color: #620662;
    animation-name: slide-left;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    padding: 20px 0px;
    gap: 10px;
}
.content-container{
    padding: 30px;
    width: 35%;
    position: relative;
    z-index: 0;
    margin-left: -57px;
    overflow: hidden;
}
.inner-content{
    background-color: #fff;
    border-radius: 12px;
    animation-name: slide-left;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.inner-content-heading{
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin: 30px;
}
.inner-content-body{
    font-size: 15px;
    font-weight: 400;
    margin-top: 12px;
    margin: 0px 30px;
}

/*.image-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 56%;
    z-index: 1;
    background-color: #620662;
    border-radius: 12px;
    overflow: scroll;
    box-shadow: 7px 8px 18px rgba(0, 0, 0, 0.8);
    padding: 20px 20px 20px 40px;
}
.content-container{
    display: flex;
    width: 35%;
    background-color: #fff;
    padding: 20px 42px 20px 30px;
    border-radius: 12px;
    align-items: center;
    margin-left: -25px;
    z-index: 0;
    position: absolute;
    height: 83%;
    right: 0px;
    top: 16px;
}
.inner-content-heading{
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}
.inner-content-body{
    font-size: 15px;
    font-weight: 400;
    margin-top: 12px;
}
.technology-inner-container{
    padding: 30px 30px 41px 30px;
    background-color: #e7e6e6;
}*/
.prev-icon{
    position: absolute;
    display: flex;
    color: #979797;
    left: 3px;
    top: 50%;
    cursor: pointer;
    z-index: 3;
}
.nav-before,.nav-next{
    font-size: 40px;
    width: auto;
    height: auto;

}
.next-icon{
    position: absolute;
    display: flex;
    color: #979797;
    right: 24px;
    top: 50%;
    cursor: pointer;
    z-index: 3;

}

.prev-icon:hover,.next-icon:hover{
    color: #000;
}
.dot-nav-container{
    position: absolute;
    bottom: 14px;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transform: translateX(50%);
}
.dot{
    background-color: #979797;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.dotActive{
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    background-color: #5a5555;
    width: 20px;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.dot:hover{
    background-color: #5a5555;
}
.nb2,.nn2{
    margin-left: -33px;
}
.tech-tab-main-container{
    // margin-top: -23px;
    background-color: #f5f5f5;
}
.viewmore-link{
    color: #19a8ddfa;
    text-decoration: underline;
    cursor: pointer;
}
.technology-detail-container{
    margin: 0px 30px;
}
.techonlogy-detail-heading{
    display: flex;
    font-size: 23px;
    font-weight: 600;
    border-bottom: 5px solid #2cb5bf;
    width: 242px;
    padding: 5px;
}
.odd-component, .even-component{
    margin-top: 40px;
}
.odd-component-inner-container,.even-component-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.slider-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.content-heading{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.detail-content{
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

@keyframes slide-left {
    0%{
        transform: translateX(102%);
    }
    100%{
        transform: translateX(0%);
    }
}



 @media screen and (max-width:841px){
    .pair{
        margin: 0px 0px;
    }
    .row{
        width: 89%;
        overflow: scroll;
        justify-content: start;
        scrollbar-width: none;
    }
    .row::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
  }

  @media screen and (max-width:550px){
    .inner-content-heading{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .inner-content-body{
        font-size: 13px;
    }
    .content-container .inner-content{
        overflow-y: scroll;
    }
    .inner-image{
        height: 153px;
    }
    .image-inner-container{
        padding: 10px;
        gap: 10px;
    }
    .image-container{
        width: 58%;
        margin-right: -46px;
    }
    .content-container{
        margin-left: -16px;
        padding-right: 0px;
        width: 37%;
    }
  }

  @media screen and (max-width:450px){
    .next-icon{
        right: 0px;
    }
    .inner-content-heading{
        font-size: 13px;
        line-height: 15px;
    }
    .inner-image{
        height: 150px;
        width: 150px;
    }
    .inner-content-body{
        font-size: 11px;
    }
    .image-inner-container{
        width: 92%;
    }
    .image-container{
        margin-right: 0px;
        padding-left: 0px;
    }
    .pair{
        gap: 0px;
    }
   
    .content-container{
        margin-left: -31px;
        width: 40%;
        padding-left: 0px;
    }
    .content-container .inner-content{
        max-height: 290px;
    }
    

  }

  @media screen and (max-width:350px) {
    .image-inner-container{
        width: 88%;
    }
  }
