
<div class="tech-tab-main-container">

    <section class="technology-inner-container">
        <div class="pair pair1" >
            <!-- <ng-container *ngIf="item.index == selectedIndex" > -->
            <ng-container *ngFor="let item of carousal" >
                
                    <div class="image-container" *ngIf="item.index == selectedIndex">
                        <div class="row row1">
                            <div class="image-card" *ngFor="let images of item.imagesRow1" >
                                <div class="inner-image">
                                    <img src="../../assets/images/{{images.img}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row row2">
                            <div class="image-card" *ngFor="let images of item.imagesRow1" >
                                <div class="inner-image">
                                    <img src="../../assets/images/{{images.img}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                    <div class="content-container" *ngIf="item.index == selectedIndex" >
                        <div class="inner-content">
                            <div class="inner-content-heading">
                                {{item.contentHeading}}
                            </div>
                            <div class="inner-content-body">
                            {{item.content}}
                            </div>
                        </div>
                    </div>
                
                
            </ng-container>   
                
            <div class="prev-icon" ><mat-icon class="nav-before nb1" >navigate_before</mat-icon><mat-icon class="nav-before nb2" >navigate_before</mat-icon></div>
            <div class="next-icon" ><mat-icon class="nav-next nn1"  >navigate_next</mat-icon><mat-icon class="nav-next nn2">navigate_next</mat-icon></div>
            <div class="dot-nav-container">
                <div class="dot" *ngFor="let item of carousal" [ngClass]="{dotActive: item.index==selectedIndex}" (click)="moveCarousalTo(item.index)" >
                </div>
            </div>
            <!-- </ng-container> -->
        </div>

    </section>

</div>