<div class="home-container ">
    <div class="slide-show-container" style="position: relative;">
        <div id="slide1" style="background-color: #fff;" class="slide1 slide p30">
            <div class="logo">JUN AUTO</div>
        </div>
        <div id="slide2" class="slide2 slide p30" style="display: none; background-color: black;">

        </div>
        <div id="slide3" class="slide3 slide p30" style="display: none;background-color: #2cb5bf;">

        </div>
        <div class="slide slide-overlay"></div>
        <div *ngIf="showQuote" class="slide3 slide p30">
            <h1 class="quoted" >"Parts crafted for excellence, elevating driving satisfaction."</h1>
        </div>
        
    </div>
    <div class="company-container p30">
            <div class="inner-container">
                <div class="animation-container">
                    <div ><lottie-player class="refwid_box_1_img" src="../../assets/images/anime/culture.json"  background="transparent"  speed="1" style="width: 200px; height: 200px;" loop autoplay></lottie-player></div>
                </div>
                <div class="company">
                    <div class="comp-child-container">
                        <div class="comp-left">
                            <div class="heading">
                                Our Company
                            </div>
                            <div class="content">
                                Jun Auto , a global automotive technology leader in Seating and E-Systems, is Making every drive better™ by 
                                delivering intelligent in-vehicle experiences for customers around the world.
                            </div>
                        </div>
                        <div class="comp-right">
                            <div class="heading">
                                Our Culture
                            </div>
                            <div class="content">
                                Our diverse team of talented employees in 37 countries is driven by a commitment to innovation, 
                                operational excellence, and sustainability as we live our values to Be Inclusive, Be Inventive, 
                                and Get Results the Right Way.
                            </div>
                        </div>
                    </div>
                    <div class="nav-button">
                        <div class="btn" (click)="navto('company')" >
                            GET TO KNOW US
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="technology-container p30">
        <div class="inner-container">
            <div class="tech-left">
                <div class="tech-img">
                    
                </div>
            </div>
            <div class="tech-right" style="opacity: 0;">
                <div class="heading">
                    <div>Forward Thinking.</div>
                    <div>Available Now.</div> 
                </div>
                <div class="content">
                    Our future-focused technologies are redefining how drivers experience mobility.
                </div>
                <div class="nav-button">
                    <div class="btn" (click)="navto('technology')"> DISCOVER OUR TECHNOLOGIES</div>
                </div>
                
            </div>

        </div>
        <div class="tech-absolute">
            <div class="tech-right">
                <!-- <lottie-player class="refwid_box_1_img tech-lottie" src="../../assets/images/anime/machine.json"  background="transparent"  speed="1" loop autoplay></lottie-player> -->
                <div class="heading">
                    <div>Reliable Parts,</div>
                    <div>Smooth Rides.</div> 
                </div>
                <div class="content">
                    Count on our parts for consistently smooth and reliable drives.
                </div>
                <div class="nav-button">
                    <div class="btn" (click)="navto('technology')"> DISCOVER OUR TECHNOLOGIES</div>
                </div>
            </div>
        </div>

    </div>

</div>
