.logo{
    padding: 15px;
    border-radius: 50%;
    border-top: 9px solid;
    border-top-color: #2cb5bf;
    border-bottom: 7px solid black;
    font-weight: 600;
    font-size: 39px;
    height: 97px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.slide-show-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 420px;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    text-align: center;
    z-index: 2;
}

.company-container .inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.animation-container .img{
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 100px;
    align-items: center;
}
.p30{
    padding: 60px 30px;
}
.company{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.comp-child-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.company .heading, .tech-right .heading{
    font-size: 38px;
    font-weight: 600;
    line-height: 42px;
}
.content{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
}
.nav-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn{
    font-size: 15px;
    font-weight: 500;
    background-color: #2cb5bf;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.company-container{
    border-top: 2px solid #f5f5f5;
}
.technology-container .inner-container{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
}
.tech-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comp-left{
    border-right: 2px solid #efefed;

}
.comp-child-container .comp-right,.comp-child-container .comp-left{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.tech-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
}
.tech-right{
    width: 50%;
    text-align: center;
}
.technology-container.p30{
    padding: 100px 30px;
    position: relative;
    overflow: hidden;
}
.tech-absolute{
    position: absolute;
    background-color: rgba(44, 181, 191, 0.6);
    top: -67px;
    left: -50%;
    width: 47%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.tech-absolute .anime-image{
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.technology-container .heading{
    text-align: center;
}

.quoted{
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 1px #2cb5bf;
    font-weight: 600;
    line-height: 50px;
}

.slide-overlay{
    z-index: 1;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    width: 100%;
}
.technology-container{
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('../../assets/images/tech-bg.png');
    background-position: 0 0,50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}


.slid-show-container .slide{
    display: flex;
    position:absolute;
  width: 100%;
  justify-content: center;
  background: white;
  height: 100%;
  align-items: center;
  color: green;
  font-size: 30px;
  font-weight: bold;
  overflow:hidden;
}



.slid-show-container{
    background-image: url('../../assets/images/carousal-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.slid-show-container .slide1{
  display: flex;
    position:absolute;
  
  justify-content: center;
  background: white;
  
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  overflow:hidden;
   animation: slideMain;
    animation-delay:0.5s;
  animation-duration:0.7s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  animation-timing-function: ease; 
    z-index:10;
}

.slid-show-container .slide2{
background-color:black;
z-index:9;
animation: slideMain;
  animation-duration:0.7s; 
  animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 0.7s;
animation-timing-function: ease; 
}

.slid-show-container .slide3{
background-color:#2cb5bf;
z-index:8;
animation: slideMain;
  animation-duration:0.3s;
  animation-iteration-count:1;
animation-fill-mode: forwards;
animation-delay: 1s; 
animation-timing-function: ease;  
}

.slide4{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideMain{
from{
 position: absolute;
  left: 0;
  display:flex;
}
to{
  position: absolute;
  left: 100%;
  display: none;
}
}

@media screen and (max-width: 1100px) {
    .comp-child-container {
      justify-content: space-between;
    }
    .comp-left{
        width: 47%;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1040px) {
    .quoted{
        text-align: center;
        width: 600px;
    }
}

@media screen and (max-width: 700px) {
   .company-container .inner-container{
    flex-direction: column;
   }
   .technology-container.p30{
     padding: 61px 30px !important;
   }
   .tech-absolute{
    top: -15%;
    width: 75%;
    }
    .company .heading, .tech-right .heading{
        font-size: 31px;
    }
    .quoted{
        width: 90%;
        font-size: 30px;
    }
    
}
@media screen and (max-width: 550px) {
    .comp-child-container{
     flex-direction: column;
    }
    .slid-show-container{
        height: 350px;
    }
    .comp-child-container .comp-left,.comp-child-container .comp-right{
        width: 100%;
    }
    .comp-child-container .comp-left{
        padding-right: 0px;
        border: none;
    }
    .p30{
        padding: 30px;
    }
    .quoted{
        padding: 0px 30px;
        font-size: 33px;
    }
    .slide-show-container{
        min-height: 360px;
    }
    .tech-absolute{
        width: 85%;
        top: -2%;
    }
    .technology-container{
        background-attachment: unset;
        background-size: auto;
    }
 }

 @media screen and (max-width:380px){
    .quoted{
        font-size: 26px;
    }
 }

 @media screen and (max-width:350px){
    .company .heading, .tech-right .heading{
        font-size: 21px;
        line-height: 24px;
    }
    .btn{
        font-size: 12px;
    }
 }